
/*------------------navbar----------------------------------------*/
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 50px;
}
.navbar-nav{
  display: flex;
  
}
.nav-item {
  list-style: none;
}
.nav-link{
  text-decoration: none;
  padding-left: 10px;
}
/*-------------------signup------------------------------*/
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-title{
  text-align: center;
}
.form-group{
  padding: 10px;
 
}
.form-group input{
  padding: 10px;
  width: 350px;
  border-radius: 5px;
}

.form-button input{
  width: 100px;
}
.form-sumbit{
  cursor: pointer;
}
.form-sumbit:hover{
  background-color: blue;
}